<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varzac.dao.HelloDao">
	<select id="searchBoard" resultType="com.varzac.vo.HelloVo">
		SELECT 	idx
				, title
				, content
				, ins_id
				, ins_date
				, upt_id
				, upt_date  
		FROM 	TB_BOARD
	</select>
	
	<insert id="insertBoard" parameterType="com.varzac.vo.HelloVo">
		INSERT INTO tb_board
		(
			title
			, content
			, ins_id
			, ins_date
			, upt_id
			, upt_date
		)
		VALUES
		(
			#{title}
			, #{content}
			, 'admin'
			, now()
			, 'admin'
			, now()
		)
	</insert>
</mapper>