<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varzac.dao.FileDao">
	<select id="selectFile" resultType="com.varzac.vo.FileVo" parameterType="int">
		SELECT 	org_file_name
				, save_path
				, save_file_name				
				, ins_no
				, ins_date
				, upt_no
				, upt_date  
		FROM 	tb_file
		WHERE 	file_idx = #{fileIdx}
	</select>
	
	<insert id="insertFile" parameterType="com.varzac.vo.FileVo">
		INSERT INTO tb_file
		(
			org_file_name
			, save_path
			, save_file_name
			, ins_no
			, ins_date
			, upt_no
			, upt_date
		)
		VALUES
		(
			#{orgFileName}
			, #{saveFullPath}
			, #{saveFileName}
			, 0
			, now()
			, 0
			, now()
		)
	</insert>
</mapper>