<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>TITLE</title>
	<head th:replace="fragments/resource :: resourceFragment" />
</head>
<body>
	<div id="wrap">
        <!-- header -->
        <header th:replace="fragments/header :: headerFragment" />
        <!--// header -->

        <div class="container">
            <!-- lnb -->
            <div th:replace="fragments/navigation :: navigationFragment" />
            <!--// lnb -->

            <!-- contents -->
            <section>
                <div class="contents">
                	<!-- nav -->					
					<navigation th:fragment="configFragment" />
					<!--// nav -->
					
					<!-- 동적으로 변경되는 부분 -->
					<section layout:fragment="content" />
                </div>
            </section>
            <!--// contents -->
        </div>

        <!-- footer -->
        <footer th:replace="fragments/footer :: footerFragment" />
        <!--// footer -->
    </div>    
</body>
</html>