<html>
<head>
	<title>Vue Local and Global Components</title>
</head>
<body>

<div id="app">
	<my-global-header></my-global-header>
	<!-- {{ message }} -->
	<div id="contents">
		<my-local-component></my-local-component>
	</div>
	
	<my-global-footer></my-global-footer>
</div>

	<!-- <div id="app">
		<h3>첫 번째 인스턴스 영역</h3>
		<div>전역 컴포넌트 입니다.</div>
		<div>지역 컴포넌트 입니다.</div>
	</div> -->
	<!-- <hr> -->
	<!-- <div id="app2">
		<h3>두 번째 인스턴스 영역</h3>
		<div>전역 컴포넌트 입니다.</div>
		<my-local-component></my-local-component>
	</div> -->

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
	<script src="/resources/vue/app.js"></script>
	<!-- <script>
		// 전역 컴포넌트 등록
		Vue.component('my-global-component', {
			template : '<div>전역 컴포넌트 입니다.</div>'
		});

		// 지역 컴포넌트 내용
		var cmp = {
			template : '<div>지역 컴포넌트 입니다.</div>'
		};

		new Vue({
			el : '#app',
			// 지역 컴포넌트 등록
			components : {
				'my-local-component' : cmp
			}
		});

		// 두 번째 인스턴스
		new Vue({
			el : '#app2'
		});
	</script> -->
	<script>
	var contents = {
			template : '<div>컨텐츠 입니다.</div>'
		};
	new Vue({
		el : '#contents',
		data : {
			message : "컨텐츠입니다."
		},
		// 지역 컴포넌트 등록
		components : {
			'my-local-component' : contents
		}
	});
	</script>
</body>
</html>