<html>
  <head>
    <title>Vue Instance Lifecycle</title>
  </head>
  <body>
    <div id="app">
      {{ message }}
      <button v-on:click="openNew">좋아요</button>
    </div>
	
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue.js!'
        },
        beforeCreate: function() {
        	console.log(this.message)
          console.log("beforeCreate");
        },
        created: function() {
          console.log("created");
        },
        beforeMount : function(){
        	console.log("beforeMount");
        },
        mounted: function() {
        	console.log("mounted");
        	this.message = 'Hello Vue1!';
        },
        beforeUpdate : function(){
        	console.log(this);
        	console.log("beforeUpdate");
        },
        updated: function() {
        	console.log(this);
          console.log("updated");
        },
        methods: {
        	openNew: function(e) {
        		this.message="test";
        		console.log(this);
        	}
        }
      });
    </script>
  </body>
</html>
