<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	/*
	var ajaxProcessing = false;
	function fnLoginProc() {
		$.ajax({
			url: "/login/proc",
			type: "POST",
			async: false,
			data: $("form[name='loginForm']").serialize(),
			dataType: 'json',
			success: function (data) {
				if(data.result == "00")
				{
					window.alert(data.message);
					document.location.href = "/";
				}
				else
				{
					window.alert(data.message);
				}
				ajaxProcessing = false;
				
			}, beforeSend: function(){
				ajaxProcessing = true;
			}, error: function(request, status, error){
				ajaxProcessing = false;
				window.alert(error);
			}
		});
	}
	*/
</script>
</head>
<body>
	<section layout:fragment="content">
		<form name="loginForm" action="/login/proc" method="post">
			아이디 : <input type="text" name="loginId" id="loginId" value="" /><br/>	
			비밀번호 : <input type="password" name="loginPwd" id="loginPwd" value="" /><br/>
			<input type="submit" value="로그인" />
		</form>
	</section>
</body>
</html>