<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<body>
	<th:block layout:fragment="content">
		<div style="background-color: #efefef;">
			<div th:if="${not #lists.isEmpty(boarList)}" th:each="helloVo : ${boarList}">
			    <span th:text="${helloVo.title}"></span>
			    <span th:text="${helloVo.content}"></span>
			    <span th:text="${helloVo.insDate}"></span>
			</div>
			<!--
			<c:forEach items="${list}" var="data" varStatus="status">
				<div>제목 : ${data.title}, 내용 : ${data.content} 등록일 : ${data.insDate}</div> 
			</c:forEach>
			-->
		<div>
	</th:block>
</body>
</html>